
<body class="body-login">
    <h1 style="text-align:center">
      
      </h1>
      <div class="login form-group">
        <h2 class="login-header">Login</h2>
        <form class="login-container">
      
          <p>
            <input class="form-control" [formControl] = "formCtrlLogin" type="email" placeholder="E-mail">
          </p>
      
          <div  class="help-block">
            <div >E-mail é obrigatório</div>
          </div>
      
          <p>
            <input class="form-control" [formControl] = "formCtrlLogin"  type="password" placeholder="Senha" >
          </p>
      
          <div class="help-block">
            <div >Senha é obrigatória</div>
          </div>
      
          <p><input type="submit" value="Login" (click)="efetuarLogin()"></p>
        </form>
      </div>



</body>
